.genre-wrapper {
    position: relative;
    background-color: var(--grey4);
    padding: 2rem;
    gap: 2rem;
}

.genre-heading {
    color: var(--white);
    font-family: var(--logo-font);
    font-size: 2.5rem;
    text-align: center;
    width: fit-content;
    padding: 0 0.5rem;
    border-bottom: 3px solid var(--primary);
    margin: auto;
}

.genre-container {
    flex-wrap: wrap;
    width: 100%;
}

.home-genre-btn {
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: var(--br-rd);
    cursor: pointer;
}

.genre-img {
    max-width: 175px;
    box-shadow: -7px -7px 15px rgba(90, 90, 90, 0.3), 7px 7px 15px rgba(0, 0, 0, 0.75);
}

.genre-img:hover {
    border: 5px solid transparent;
}

.home-genre-name {
    color: var(--white);
    padding-top: 1rem;
}

.btn.genre-btn {
    color: var(--primary);
    padding: 0.5rem 2rem;
    margin: 1rem;
}

.btn.genre-btn:hover {
    color: var(--orange);
    font-size: 1.1rem;
}