/* stylesheets */
@import url("https://matrixui.netlify.app/assets/stylesheet.css");
@import url("react-toastify/dist/ReactToastify.css");
@import url("./variables.css");
@import url("./buttons.css");

body {
    background-color: var(--bg-pri);
    color: var(--black);
}

.input::placeholder {
    color: var(--gray1);
}

.txt-primary {
    color: var(--primary);
}

.txt-green {
    color: var(--green);
}

.txt-red {
    color: var(--red);
}

.toast-box {
    margin-top: 1rem;
}
