.nf-404-wrapper {
   padding: 3rem; 
}

.nf-404-container {
    background-color: var(--bg-sec);
    width: 70%;
    padding: 2rem;
    border-radius: var(--br-sq);
    margin: auto;
    gap: 1rem;
    box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.15);
}

.icon-404-pri {
    color: var(--primary);
    font-size: 2.5rem;
    margin-bottom: 1.5rem;

}

.icons-404 {
    font-size: 5rem;
    gap: 0.25rem;
}

.txt-404 {
    font-size: 1.25rem;
}

.btn.btn-404 {
    padding: 0.5rem 2.5rem;
    margin-top: 2rem;
}