.disc-card-wrapper {
    max-width: 300px; 
    background-color: var(--grey4);
    padding: 1.5rem;
    border-radius: var(--br-sq);
    margin: 2rem 0;
}

.disc-card-wrapper:hover {
    box-shadow: -5px -5px 12px rgba(90, 90, 90, 0.3), 5px 5px 12px rgba(0, 0, 0, 0.3);
}

.disc-txt {
    color: var(--white);
    text-align: center;
    padding: 1rem 0;
    margin: auto;
}